.products{
    display: inline-block;
    width:100%;
background-color: #623bffeb;
box-sizing: border-box;
box-shadow: 2px 2px 2px 2px white;
text-align: -webkit-center;
line-height: 0.9em;
}

input.desktop-searchbar {
    width: 50%;
    margin-top: 13px;
}
li.nav-bar {
    float: right;
    width: 8%;
    display: flex;
}
a {
    color: white;
}