.products{
    display: inline-block;
    width:100%;
background-color: #1c0384eb;
box-sizing: border-box;
box-shadow: 2px 2px 2px 2px white;
height: 80px;
}
ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 3px 27px;
    color: #fff;
    text-decoration: none;
    margin-top: -10px;
}
img.logo {
    height: 79px;
    margin-left: 20px;
}
.header-Logo {
    height: 52px;
}
input.desktop-searchbar[_ngcontent-c0] {
        width: 25%;
        margin-left: 268px;
        position: absolute;
        margin-top: -3%;
    }
/* ul {
    margin-top: -16px;
} */
li.nav-bar {
    float: right;
    width: 8%;
   list-style:none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.HiddenText {
    min-width: 100%;
    background: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.HiddenText{
    display:block;
}
ul li ul.HiddenText li.sub-products{
    display:block;
}
.sub-products{
    display:none;
    list-style: none;
    background-color: black;
}
