<header class="products" id="cssmenu">
   <div class="header-Logo">
      <a href="/"><img class="logo" src="assets/images/logo.jpg" /></a>
   </div>
   <div>
      <input class=" desktop-searchbar" placeholder="Search for Products,Brands">
   </div>
   <div>
      <ul>
         <li class="nav-bar">
            <a routerLink="Home">Home</a>

         </li>
         <li class="nav-bar">
            <a routerLink="Config">Services</a>

         </li>
         <div>
         <li class="nav-bar nav" id="hoverItem"><a routerLink="Products"> Products</a>
           <div >
            <ul id="HiddenText">
               <li class="sub-products" ><a href="#">Menu 1</a></li>
               <li class="sub-products" ><a href="#">Menu 2</a></li>
            </ul>
           </div> 
         </li>
      </div>

         <li class="nav-bar">
            <a routerLink="Contact">Contact Us </a>
         </li>

      </ul>
   </div>
</header>

<!-- <div id="cssmenu">
      <ul>
         <li><a href="#" target="_blank"> Home</a></li>
         <li class="has-sub"><a href="#"><button class="dropbtn"> Menus</button></a>    
          <ul>
               <li class="has-sub"><a href="#">Menu 1</a>
                  <ul>
                     <li><a href="#">Menu 1.1</a></li>
                     <li><a href="#">Menu 1.2</a></li>
                  </ul>
               </li>
               <li><a href="#">Menu 2</a></li>
            </ul>
         </li>
         <li><a href="#"> Settings</a></li>
         <li><a href="#"> Contact</a></li>
      </ul>
    </div> -->
<router-outlet></router-outlet>