img.imageClass {
    width: 192px;
    height: 184px;
    box-shadow: 2px 2px 2px 2px  #0a0a0a0d;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 44px;
    margin-bottom: 44px;
    opacity: 1;
}
.image {
    overflow: hidden;
}
.image :hover {
    transform: scale(1.5);
}
li.productsList {
    float: left;
    list-style: none;
    text-align: center;
    margin-right: 100px;
}
a.panel {
    font-family: fantasy;
    font-size: larger;
}