img.imgclass {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px #15121208;
    cursor: pointer;
    transition: 1s;
   }
   .image {
    overflow: hidden;
}
.image :hover {
    transform: scale(1.5);
}
li {
    list-style: none;
}
ul.catList {
    float: left;
    margin-right: 100px;
}